# Data Types and Structures Questions & Answers

Q1: What are data structures, and why are they important?

#Ans1 :

Data structures are "Strings", "lists", "Tuple", "Sets" and "Dictionary" and they are very important to write a code and designated the values to store the data and values of the data.

Q2: Explain the difference between mutable and immutable data types with examples?

In [18]:
#Ans2:
#Mutable data types :
A= [1,2,3,4,5,]

#Immutable data types:
B=(1,2,3,4,5)

Q3. What are the main differences between lists and tuples in Python?

#Ans3:

The main difference are list is mutable the data can be store in list under the [] however, the Tuple are immutable and the data can be store under the ().

Q4. Describe how dictionaries store data

In [28]:
#Ans3:
#The dictionaries store data under the {} and in the format of : using key and values, please see example below.
School = {"Name":"Amit Gangwani","Roll Number":"12345","Subject":"English"}

Q5. Why might you use a set instead of a list in Python?

Ans5: 

Set is a data type in python used to store several items in a single variable. It is one of the four built-in data types (List, Dictionary, Tuple, and Set) having qualities and usage different from the other three. It is a collection that is written with curly brackets and is both unindexed and unordered.

Q6. What is a string in Python, and how is it different from a list?

Ans6. 

Strings are immutable, meaning their values cannot be changed once they are created. While both lists and strings can be accessed using indexing and slicing, lists provide more flexibility as they can be modified, appended, or extended, while strings cannot be altered after creation

Q7. How do tuples ensure data integrity in Python?

Ans7:

Tuples are immutable and their data gets constent which ensure data integrity in python.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans8:

In Python, a hash table is a data structure that stores key-value pairs, and dictionaries are built using hash tables

Q9. Can lists contain different data types in Python?

Ans9. Yes.

Q10. Explain why strings are immutable in Python?

Ans10.

String is a sequence of character, e.g, "Amit" so the python store the "Amit" as 0=A, 1=m, 2=i, 3=t and due to this we cant replace or change the character of "Amit" however this is the reason a strings are immutable in python.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans11.

You can create a dictionary using the dict() function. 
You can remove items from a dictionary using the del, pop(), clear()

Q12. Describe a scenario where using a tuple would be preferable over a list?

In [97]:
#Ans12. 

#Tuple is immutable 
a=(1,2,4,"Amit")

#list is mutable
b=[6,7,9,"amit"]

In [111]:
a[0]=9

TypeError: 'tuple' object does not support item assignment

In [107]:
b[0]=10

In [109]:
b

[10, 7, 9, 'amit']

Q13. How do sets handle duplicate values in Python?

In [116]:
#Ans13. 

#Sets are unordered collection of unique element so when there is any duplicate data it will count only 1. see example below.

E= {"orange", "orange", "red", "blue"}
E

{'blue', 'orange', 'red'}

Q14.How does the “in” keyword work differently for lists and dictionaries?

Ans14. 

The in operator for dictionaries (dict) checks for the presence of a key.

d = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

print('key1' in d)
#True


The in operator in list

print(1 in (0, 1, 2))
#True

Q15. Can you modify the elements of a tuple? Explain why or why not

Ans15. 

No we cannot because the tuple is immutable.

Q16. What is a nested dictionary, and give an example of its use case?

In [146]:
#Ans16. 
#A nested dictionary is a dictionary that contains other dictionaries, and is useful for representing data with multiple levels of organization

School = {"Name":{"Name1":"Amit Gangwani","Roll Number":"12345"},"Name2":{"name2":"Sanghmitra","Roll Number":"67890"}}

In [154]:
print(School["Name2"]["name2"])

Sanghmitra

Q17. Describe the time complexity of accessing elements in a dictionary

Ans17.

It's fast and easy way to work because dictionary store any data and we can easily access those, remove those or modify those data in dictionary.In Python, dictionaries are mutable.

Q18. In what situations are lists preferred over dictionaries?

Ans18. 

If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans19. 

Because the data added in dictionaries as mapping or key value pair which cannot be set as ordered.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans20. 

In list we stored data in ordered value and like a bag in which we designate everything into the ordered example. Bag=("Apple", "Mango", "Tree", "Amit"), in this every item has been set into the ordered like 0,1,2,3,4........

However, In Dictionary we need to assigned every value with the key like an exampl; School= ("Name":"Amit", "Roll Number":"2345"), in this we cannot assigned these into the ordered number because every value has key assigned.

# Practical Questions

Q1. Write a code to create a string with your name and print it?

In [17]:
#Ans1

Name= "Amit"
print(Name)

Amit

Q2. Write a code to find the length of the string "Hello World"?

In [20]:
#Ans2

string="Hello World"
len(string)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [38]:
#Ans3. 

A= "Python Programming"
A[0:3]

'Pyt'

Q4.Write a code to convert the string "hello" to uppercase?

In [41]:
#Ans4. 

B="hello"
B.upper()

'HELLO'

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [44]:
#Ans5.

Amit= "I like apple"
Amit.replace("apple","orange")

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it?

In [49]:
#Ans6. 

M=(1,2,3,4,5)
print(M)

(1, 2, 3, 4, 5)

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [79]:
#Ans7.

D=[1, 2, 3, 4]
D.append(10)
D

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [77]:
#Ans8. 

F=[1, 2, 3, 4, 5]
F.remove(3)
F

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [104]:
#Ans9. 

G=['a', 'b', 'c', 'd']
G[1]

'b'

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [149]:
#Ans10.

F=[10, 20, 30, 40, 50]
F.reverse()
print(F)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [176]:
#Ans11. Tuple ()
A=(10,20,30)
print(A)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [181]:
#Ans12.

basket=('apple', 'banana', 'cherry')
basket[0]

'apple'

Q13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [196]:
#Ans13.

number=(1, 2, 3, 2, 4, 2)
number.count(2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [205]:
#Asn14.

pet=('dog', 'cat', 'rabbit')
pet.index("cat")

1

Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [259]:
#Asn15.

basket= ('apple', 'orange', 'banana')
fruit="banana"
if fruit in basket:
    print("Yes")
else:
    print("No")

Yes

Q16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [264]:
#Ans16. 

Number_of_set={1,2,3,4,5}
print(Number_of_set)

{1, 2, 3, 4, 5}

Q17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [281]:
#Ans17.

Number_set={1, 2, 3, 4}
Number_set.add(6)
Number_set

{1, 2, 3, 4, 6}

# Q18 to Q24 are duplicate.

 # END